
/*
    responsive menu style
*/
.nav .click {
    cursor: pointer;
    height: 19px;
     width: 24px;
}

.nav .responsive { display: none; }
.nav .expand { display: block !important; }

.nav ul.menu {
    padding-bottom: 15px;
        margin-top: 10px;
        list-style: none;
}

.nav ul.menu li {
    margin: 0 25px 0 0;
     width: 100%;
     float: left;
}

.nav ul.menu li a {
	text-decoration: none;
          border-bottom: 1px solid #d5d5d5;
            font-weight: 500;
                padding: 5px 0;
	        display: block;
                  color: #7b7b7b;
}

.nav ul.menu li a:hover {
    border-bottom: 1px solid #b1b1b1;
            color: #3e3e3e;
}

@media only screen and (min-width: 768px) {

    .nav .click {
	visibility: hidden;
    }

    .nav .responsive {
	display: block;
    }

    .nav ul.menu li {
	margin: 0 25px 0 0;
	 width: auto;
	 float: left;
    }

}
