
/*
    import css styles
*/
@import url(../min/css.ui.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*
    custom styles
*/
body {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
        padding: 10px 0 25px;
}

h2 {
    margin: 20px 0 30px;
}

/*
    layout
*/
.container {
    max-width: 1170px;
}

/*
    menu
*/
ul.menu {
    list-style: none;
}

ul.menu li {
    margin-left: 5px;
        display: inline-block;
}

.view .column,
.view .columns {
    text-transform: uppercase;
     margin-bottom: 5px;
     border-radius: 3px;
        background: #b4b4b4;
        text-align: center;
	 font-size: 0.750em;
           padding: 5px;
	     color: white;
}
