
/*
    import css styles
*/
@import url(../css/ui.base.css);
@import url(../css/ui.buttons.css);
@import url(../css/ui.forms.css);
@import url(../css/ui.grid.css);
@import url(../css/ui.messages.css);
@import url(../css/ui.utils.css);

/*
    custom styles
*/
body {
    padding: 10px 0 25px;
}

h2 {
    margin: 20px 0 30px;
}

/*
    layout
*/
.container {
    max-width: 1170px;
}

/*
    menu
*/
ul.menu {
    list-style: none;
}

ul.menu li {
    margin-left: 5px;
        display: inline-block;
}

.view .column,
.view .columns {
    text-transform: uppercase;
     margin-bottom: 5px;
     border-radius: 3px;
        background: #c0c0c0;
        text-align: center;
	 font-size: 0.750em;
           padding: 5px;
	     color: white;
}
