
/*
    base styles
*/
html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
                 font-family: sans-serif;
                  box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
      position: relative;
        margin: 0;
}

h1 {
    font-size: 2em;
       margin: 0.67em 0;
}

/*
    html5 display definitions
*/
article, aside, details, figcaption, figure, footer, header,
main, menu, nav, section {
    display: block;
}

summary {
    display: list-item;
}

/*
    text-level semantics
*/
a {
    -webkit-text-decoration-skip: objects;
                background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
      border-bottom: none;
}

b, strong { font-weight: 700; }
dfn { font-style: italic; }

mark {
    background: #ff0;
         color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    vertical-align: baseline;
       line-height: 0;
         font-size: 75%;
	  position: relative;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/*
    embedded content
*/
audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
     height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

/*
    grouping content
*/
figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
      overflow: visible;
        height: 0;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
      font-size: 1em;
}

/*
    hidden
*/
template, [hidden] {
    display: none;
}
