
/*
    responses forms
*/
form {
    margin-bottom: 2.5rem;
}

[type="password"],
[type="number"],
[type="search"],
[type="email"],
[type="color"],
[type="range"],
[type="date"],
[type="text"],
[type="url"],
[type="tel"],
select,
textarea {
    -webkit-box-sizing: border-box;
      background-color: #fff;
       -moz-box-sizing: border-box;
         border-radius: 3px;
	 margin-bottom: 0.375em;
            box-sizing: border-box;
	       padding: 0.5em 0.6em;
	       display: inline-block;
	        border: 1px solid #cfcfcf;
		height: 38px;
}

[type="password"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="email"]:focus,
[type="color"]:focus,
[type="range"]:focus,
[type="date"]:focus,
[type="text"]:focus,
[type="url"]:focus,
[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #b3b3b3;
         outline: 0;
}

[type="checkbox"],
[type="radio"] {
    vertical-align: middle;
           display: inline;
            margin: 0 0 3px;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
    outline: thin dotted #4d4d4d;
    outline: 1px auto #b3b3b3;
}

[disabled] {
    background-color: #eaeded;
              cursor: not-allowed;
	       color: #cad2d3;
}

[readonly] {
    border-color: #d3d3d3;
      background: #efefef;
           color: #838383;
}

:focus:invalid {
    border-color: #e77e7b;
           color: #e77e7b;
}

:focus:invalid:focus {
    border-color: #e77e7b;
}

[type="file"]:focus:invalid:focus,
[type="radio"]:focus:invalid:focus,
[type="checkbox"]:focus:invalid:focus {
    outline-color: #e77e7b;
}

[multiple] {
    height: auto;
}

label {
    margin-bottom: 0.5rem;
          display: block;
}

fieldset {
    border-radius: 3px;
          padding: 35px;
	   border: 1px solid #d7d7d7;
}

legend {
    padding: 0 5px;
     margin: 0 -5px;
      width: auto;
}

textarea {
    padding-bottom: 6px;
       padding-top: 6px;
        min-height: 65px;
}

input, textarea, select, fieldset {
    margin-bottom: 1.5rem;
}

/*
    help style for input
*/
i.help {
    font-size: 90%;
      display: block;
	color: #a5a5a5;
       margin: 0 0 10px 0;
}

i.help.inline {
    display: inline-block;
}
