
/*
    grid styles
*/
.container {
    box-sizing: border-box;
      position: relative;
       padding: 0 20px;
        margin: 0 auto;
         width: 100%;
}

.container::before {
    display: none;
    content: 'mobile';
}

@media only screen and (min-width: 768px) {

    .container {
	padding: 0;
	  width: 85%;
    }

    .container::before {
	content: 'tablet';
    }

}

@media only screen and (min-width: 1170px) {

    .container {
	width: 80%;
    }

    .container::before {
	content: 'desktop';
    }

}

.column,
.columns {
    box-sizing: border-box;
	 float: left;
	 width: 100%;
}

@media only screen and (min-width: 768px) {

    .column,
    .columns {
	margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
	margin-left: 0;
    }

    .one.column,
    .one.columns {
	width: 4.66666666667%;
    }

    .two.columns {
	width: 13.3333333333%;
    }

    .three.columns {
	width: 22%;
    }

    .four.columns {
	width: 30.6666666667%;
    }

    .five.columns {
	width: 39.3333333333%;
    }

    .six.columns {
	width: 48%;
    }

    .seven.columns {
	width: 56.6666666667%;
    }

    .eight.columns {
	width: 65.3333333333%;
    }

    .nine.columns {
	width: 74.0%;
    }

    .ten.columns {
	width: 82.6666666667%;
    }

    .eleven.columns {
	width: 91.3333333333%;
    }

    .twelve.columns {
	width: 100%;
	margin-left: 0;
    }

    .one-third.column {
	width: 30.6666666667%;
    }

    .two-thirds.column {
	width: 65.3333333333%;
    }

    .one-half.column {
	width: 48%;
    }

}

/*
    clearing
*/
.container:after,
.row:after {
    content: "";
    display: table;
      clear: both;
}
