
/*
    buttons style
*/
.button {
    background-color: transparent;
     text-decoration: none;
      letter-spacing: 0.1rem;
       margin-bottom: 1rem;
       border-radius: 3px;
         line-height: 36px;
	  text-align: center;
	  box-sizing: border-box;
	   min-width: 100px;
	     display: inline-block;
	     padding: 0;
	      border: none;
	      cursor: pointer;
	      height: 36px;
	       color: #545454;
}

.button:hover,
.button:focus {
    outline: 0;
      color: #2f2f2f;
}

.button.default {
    line-height: 34px;
         border: 1px solid #cfcfcf;
}

.button.default:hover,
.button.default:focus {
    border-color: #b3b3b3;
}

.button.default.primary {
    line-height: 34px;
     background: none;
         border: 1px solid #10a2f1;
	  color: #10a2f1;
}

.button.default.common {
    line-height: 34px;
     background: none;
         border: 1px solid #545454;
	  color: #545454;
}

.button.default.success {
    line-height: 34px;
     background: none;
         border: 1px solid #68c041;
	  color: #68c041;
}

.button.default.danger {
    line-height: 34px;
     background: none;
         border: 1px solid #e24343;
	  color: #e24343;
}

.button.primary {
    background-color: #10a2f1;
               color: #fff;
}

.button.primary:hover,
.button.primary:focus {
    background-color: #0f9ce8;
	       color: #fff;
}

.button.common {
    background-color: #545454;
               color: #fff;
}

.button.common:hover,
.button.common:focus {
    background-color: #484848;
	       color: #fff;
}

.button.success {
    background-color: #68c041;
               color: #fff;
}

.button.success:hover,
.button.success:focus {
    background-color: #61b43d;
	       color: #fff;
}

.button.danger {
    background-color: #e24343;
               color: #fff;
}

.button.danger:hover,
.button.danger:focus {
    background-color: #d43e3e;
	       color: #fff;
}

.button.larger {
    line-height: 46px;
      min-width: 150px;
      font-size: 1.125em;
         height: 46px;
}

.button.bigger {
    line-height: 56px;
      min-width: 200px;
      font-size: 1.250em;
         height: 56px;
}
