
/* Base style
   ========================================================================== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #545454;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100%;
    position: relative;
}

/* Hyperlink
   ========================================================================== */
a {
    color: #11abfe;
}


/* Typography
   ========================================================================== */
p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 2rem;
}

h1, h2, h3 {
    letter-spacing: -0.1rem;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
}

h4 {
    font-size: 2.4rem;
    letter-spacing: -0.08rem;
    line-height: 1.35;
}

h5 {
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
}

h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
}

@media only screen and (min-width: 768px) {

    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }

}

/* Lists
   ========================================================================== */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    margin-top: 0;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem;
}

li {
    margin-bottom: 1rem;
}

/* Grouping content
   ========================================================================== */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1;
}

code {
    background: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    font-size: 90%;
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}

pre {
    white-space: pre-wrap;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    word-wrap: break-word;
}

/* Tables
   ========================================================================== */
th, td {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 15px;
    text-align: left;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

/* Spacing
   ========================================================================== */
pre, blockquote, dl, figure, table, p, ul, ol {
    margin-bottom: 1.5rem;
}

blockquote:before,
blockquote:after {
    font-size: 1.63em;
    line-height: 1;
    padding: 8px;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}
