
/* buttons style
   ========================================================================== */
.button {
    background: transparent;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    box-sizing: border-box;
    color: #545454;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    letter-spacing: 0.1rem;
    line-height: 34px;
    margin-bottom: 1rem;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.button:hover,
.button:focus {
    border-color: #b3b3b3;
    color: #2f2f2f;
    outline: 0;
}

/* semantic buttons
   ========================================================================== */
.button.primary {
    background: #1ba2eb;
    color: #fff;
}

.button.primary:hover,
.button.primary:focus {
    background: #199adf;
}

.button.common {
    background: #545454;
    color: #fff;
}

.button.common:hover,
.button.common:focus {
    background: #4b4b4b;
}

.button.success {
    background: #52d064;
    color: #fff;
}

.button.success:hover,
.button.success:focus {
    background: #4fc860;
}

.button.warning {
    background: #ffd965;
    color: #a76600;
}

.button.warning:hover,
.button.warning:focus {
    background: #fad35b;
}

.button.danger {
    background: #ff3e59;
    color: #fff;
}

.button.danger:hover,
.button.danger:focus {
    background: #f33b55;
}

.button.primary,
.button.common,
.button.success,
.button.danger,
.button.warning {
    border: 0;
    line-height: 36px;
}

/* outline buttons
   ========================================================================== */
.button.primary.outline {
    border: 1px solid #1ba2eb;
    color: #10a2f1;
}

.button.primary.outline:hover,
.button.primary.outline:focus {
    background: #1ba2eb;
    color: #fff;
}

.button.common.outline {
    border: 1px solid #545454;
    color: #545454;
}

.button.common.outline:hover,
.button.common.outline:focus {
    background: #545454;
    color: #fff;
}

.button.success.outline {
    border: 1px solid #52d064;
    color: #68c041;
}

.button.success.outline:hover,
.button.success.outline:focus {
    background: #52d064;
    color: #fff;
}

.button.warning.outline {
    border: 1px solid #ffd965;
    color: #e4ac00;
}

.button.warning.outline:hover,
.button.warning.outline:focus {
    background: #ffd965;
    color: #a76600;
}

.button.danger.outline {
    border: 1px solid #ff3e59;
    color: #e24343;
}

.button.danger.outline:hover,
.button.danger.outline:focus {
    background: #ff3e59;
    color: #fff;
}

.button.primary.outline,
.button.common.outline,
.button.success.outline,
.button.warning.outline,
.button.danger.outline {
    background: none;
    padding: 0 11px;
}

/* non-specific buttons
   ========================================================================== */
.button.white {
    background: #fff;
}

.button.white:hover,
.button.white:focus {
    background: #f2f2f2;
}

.button.light {
    background: #f2f2f2;
}

.button.light:hover,
.button.light:focus {
    background: #eee;
}

.button.white,
.button.light {
    border: 0;
}

/* button sizes
   ========================================================================== */
.button.small {
    font-size: small;
    height: 30px;
    line-height: 30px;
}

.button.larger {
    font-size: 1.125em;
    height: 42px;
    line-height: 42px;
    padding: 0 14px;

}

.button.bigger {
    font-size: 1.250em;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}
