
/*
    forms style
*/
form {
    margin-bottom: 1.5rem;
}

button, input, optgroup, select, textarea {
    color: inherit;
     font: inherit;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    cursor: pointer;
}

[type="password"],
[type="number"],
[type="search"],
[type="email"],
[type="text"],
[type="tel"],
[type="url"],
select,
textarea {
    background-color: #fff;
       border-radius: 3px;
       margin-bottom: 0.375em;
          box-sizing: border-box;
	     padding: 0.5em 0.6em;
	     display: inline-block;
	      border: 1px solid #cfcfcf;
	      height: 38px;
	       width: 190px;
}

[type="password"],
[type="number"],
[type="search"],
[type="email"],
[type="text"],
[type="tel"],
[type="url"],
textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

[type="password"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="email"]:focus,
[type="text"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: #b3b3b3;
         outline: 0;
}

[type="checkbox"],
[type="radio"] {
    vertical-align: middle;
           display: inline;
            margin: 0 0 3px;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
    outline: thin dotted #4d4d4d;
    outline: 1px auto #b3b3b3;
}

[disabled] {
    background-color: #f5f5f5;
        border-color: #e3e3e3;
              cursor: not-allowed;
	       color: #c6c6c6;
}

[readonly] {
    border-color: #d3d3d3;
      background: #efefef;
           color: #838383;
}

:focus:invalid {
    border-color: #e77e7b;
           color: #e77e7b;
}

:focus:invalid:focus {
    border-color: #e77e7b;
}

[type="file"]:focus:invalid:focus,
[type="radio"]:focus:invalid:focus,
[type="checkbox"]:focus:invalid:focus {
    outline-color: #e77e7b;
}

[multiple] {
    height: auto;
}

label {
    margin-bottom: 0.5rem;
          display: block;
}

fieldset {
    background-color: #f9f9f9;
       border-radius: 3px;
             padding: 0.875em;
	      border: 1px solid #d7d7d7;
	      margin: 0;
}

legend {
    font-weight: 500;
        padding: 0 5px;
         margin: 0 -5px;
}

textarea {
    min-height: 65px;
       display: block;
}

input, fieldset {
    margin-bottom: 1.5rem;
}

/*
    help style for input
*/
i.help {
    font-size: 90%;
      display: block;
	color: #a5a5a5;
       margin: 0 0 10px 0;
}

i.help.inline {
    display: inline-block;
}
