
/* forms style
   ========================================================================== */
form {
    margin-bottom: 1.5rem;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

[type="password"],
[type="number"],
[type="search"],
[type="email"],
[type="text"],
[type="tel"],
[type="url"],
select,
textarea {
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    height: 36px;
    margin-bottom: 6px;
    padding: 0 0.5em;
}

[type="password"],
[type="number"],
[type="search"],
[type="email"],
[type="text"],
[type="tel"],
[type="url"] {
    min-width: 200px;
}

select {
    padding-left: 0.250em;
}

[type="password"],
[type="number"],
[type="search"],
[type="email"],
[type="text"],
[type="tel"],
[type="url"],
textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

[type="password"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="email"]:focus,
[type="text"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: #b3b3b3;
    outline: 0;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin: 0 0 3px;
    vertical-align: middle;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
    outline: thin dotted #4d4d4d;
    outline: 1px auto #b3b3b3;
}

[disabled] {
    background: #f5f5f5;
    border-color: #e3e3e3;
    color: #c6c6c6;
    cursor: not-allowed;
}

[readonly] {
    background: #efefef;
    border-color: #d3d3d3;
    color: #838383;
}

:focus:invalid {
    border-color: #e77e7b;
    color: #e77e7b;
}

:focus:invalid:focus {
    border-color: #e77e7b;
}

::placeholder {
    color: #cbcbcb;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #cbcbcb;
}

::-ms-input-placeholder {
    color: #cbcbcb;
}

[type="file"]:focus:invalid:focus,
[type="radio"]:focus:invalid:focus,
[type="checkbox"]:focus:invalid:focus {
    outline-color: #e77e7b;
}

[multiple] {
    height: auto;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

fieldset {
    background: #f9f9f9;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    margin: 0;
    padding: 0.875em 1.5em;
}

legend {
    font-weight: 500;
    margin: 0 -5px;
    padding: 0 5px;
}

textarea {
    display: block;
    min-height: 65px;
}

input, fieldset {
    margin-bottom: 1.5rem;
}

/* inline
   ========================================================================== */
form input.inline {
    float: left;
    margin-right: 6px;
}

/* search
   ========================================================================== */
form.search input.find {
    border-right: 0;
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 0;
    float: left;
}

form.search button,
form.search [type="button"],
form.search [type="submit"] {
    border-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

/* group
   ========================================================================== */
form.group .unite {
    margin: 0 0 -1px;
    position: relative;
    top: -1px;
}

form.group .unite:first-child {
    top: -1px;
}

form.group .unite {
    border-radius: 0;
}

form.group .unite:focus {
    z-index: 1;
}

form.group .unite.first {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

form.group .unite.last {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

form.group button,
form.group [type="button"],
form.group [type="reset"],
form.group [type="submit"] {
    margin-top: 6px;
}

/* radio and checkbox
   ========================================================================== */
.check,
.radio {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 22px;
    position: relative;
    user-select: none;
}

.check input,
.radio input {
    visibility: hidden;
    position: absolute;
    display: none;
}

.check .checkmark:after,
.radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after,
.radio input:checked ~ .checkmark:after {
    display: block;
}

/* radio
   ========================================================================== */
.radio .checkmark {
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    height: 13px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 13px;
}

.radio input:checked ~ .checkmark {
    background: #fff;
}

.radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c5c5c5;
}

/* checkbox
   ========================================================================== */
.check .checkmark {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    height: 13px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 13px;
}

.check input:checked ~ .checkmark {
    background: #fff;
}

.check .checkmark:after {
    left: 3px;
    top: 1px;
    width: 5px;
    height: 7px;
    border: solid #c5c5c5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* radio and checkbox colors
   ========================================================================== */
.radio .checkmark.primary:after {
    background: #1795f8;
}

.radio .checkmark.common:after {
    background: #545454;
}

.check .checkmark.primary:after {
    border-color: #1795f8;
}

.check .checkmark.common:after {
    border-color: #545454;
}

/* help info
   ========================================================================== */
i.help {
    display: block;
    color: #a5a5a5;
    font-size: 90%;
    margin: 0 0 10px 0;
}

i.help.inline {
    display: inline-block;
}
