
/* Grid style
   ========================================================================== */
.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .container {
	padding: 0;
	width: 85%;
    }

}

@media only screen and (min-width: 1170px) {

    .container {
	width: 80%;
    }

}

.column,
.columns {
    box-sizing: border-box;
    float: left;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .column,
    .columns {
	margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
	margin-left: 0;
    }

    .one.column,
    .one.columns {
	width: 4.66666666667%;
    }

    .two.columns {
	width: 13.3333333333%;
    }

    .three.columns {
	width: 22%;
    }

    .four.columns {
	width: 30.6666666667%;
    }

    .five.columns {
	width: 39.3333333333%;
    }

    .six.columns {
	width: 48%;
    }

    .seven.columns {
	width: 56.6666666667%;
    }

    .eight.columns {
	width: 65.3333333333%;
    }

    .nine.columns {
	width: 74.0%;
    }

    .ten.columns {
	width: 82.6666666667%;
    }

    .eleven.columns {
	width: 91.3333333333%;
    }

    .twelve.columns {
	margin-left: 0;
	width: 100%;
    }

    .one-third.column {
	width: 30.6666666667%;
    }

    .two-thirds.column {
	width: 65.3333333333%;
    }

    .one-half.column {
	width: 48%;
    }

    .offset-one.column,
    .offset-one.columns {
	margin-left: 8.66666666667%;
    }

    .offset-two.column,
    .offset-two.columns {
	margin-left: 17.3333333333%;
    }

    .offset-three.column,
    .offset-three.columns {
	margin-left: 26%;
    }

    .offset-four.column,
    .offset-four.columns {
	margin-left: 34.6666666667%;
    }

    .offset-five.column,
    .offset-five.columns {
	margin-left: 43.3333333333%;
    }

    .offset-six.column,
    .offset-six.columns {
	margin-left: 52%;
    }

    .offset-seven.column,
    .offset-seven.columns {
	margin-left: 60.6666666667%;
    }

    .offset-eight.column,
    .offset-eight.columns {
	margin-left: 69.3333333333%;
    }

    .offset-nine.column,
    .offset-nine.columns {
	margin-left: 78.0%;
    }

    .offset-ten.column,
    .offset-ten.columns {
	margin-left: 86.6666666667%;
    }

    .offset-eleven.column,
    .offset-eleven.columns {
	margin-left: 95.3333333333%;
    }

    .offset-one-third.column,
    .offset-one-third.columns {
	margin-left: 34.6666666667%;
    }

    .offset-two-thirds.column,
    .offset-two-thirds.columns {
	margin-left: 69.3333333333%;
    }

    .offset-one-half.column,
    .offset-one-half.columns {
	margin-left: 52%;
    }

}

/*
    clearing
*/
.container:after,
.row:after {
    clear: both;
    content: "";
    display: table;
}
