
/* messages style
   ========================================================================== */
.message {
    border-radius: 3px;
    color: #fff;
    padding: 20px;
}

.message.info {
    background: #1795f8;
}

.message.success {
    background: #52d064;
}

.message.warning {
    background: #ffd965;
    color: #5a5031;
}

.message.danger {
    background: #ff3e59;
}
