
/* Utils style
   ========================================================================== */
.wrapper {
    display: block;
}

/* Full width automatically adapts
   ========================================================================== */
.full.width {
    box-sizing: border-box;
    width: 100%;
}

/* Maximum width automatically adapts
   ========================================================================== */
.max.width {
    box-sizing: border-box;
    max-width: 100%;
}

/* Floats
   ========================================================================== */
.float.right { float: right; }
.float.left { float: left; }

/* Text align
   ========================================================================== */
.align.right { text-align: right; }
.align.center { text-align: center; }
.align.left { text-align: left; }

/* Hide element
   ========================================================================== */
.screen.reader {
    display: none;
}

/* Boottom footer
   ========================================================================== */
.bottom.footer  {
    position: absolute;
      bottom: 0;
       right: 0;
        left: 0;
}

/* Clearing
   ========================================================================== */
.clear:after {
    visibility: hidden;
     font-size: 0;
       content: ".";
       display: block;
        height: 0;
	 clear: both;
}
