
/* utils style
   ========================================================================== */
.wrapper {
    display: block;
}

/* full width automatically adapts
   ========================================================================== */
.full.width {
    box-sizing: border-box;
    width: 100%;
}

/* maximum width automatically adapts
   ========================================================================== */
.max.width {
    box-sizing: border-box;
    max-width: 100%;
}

/* floats
   ========================================================================== */
.float.right {
    float: right;
}

.float.left {
    float: left;
}

/* text align
   ========================================================================== */
.align.right {
    text-align: right;
}

.align.center {
    text-align: center;
}

.align.left {
    text-align: left;
}

/* hide element
   ========================================================================== */
.screen.reader {
    display: none;
}

/* boottom footer
   ========================================================================== */
.bottom.footer  {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

/* clearing
   ========================================================================== */
.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
