
/* Utils style
   ========================================================================== */
.wrapper {
    display: block;
}

/* Full width automatically adapts
   ========================================================================== */
.full.width {
    box-sizing: border-box;
    width: 100%;
}

/* Maximum width automatically adapts
   ========================================================================== */
.max.width {
    box-sizing: border-box;
    max-width: 100%;
}

/* Floats
   ========================================================================== */
.float.right { float: right; }
.float.left { float: left; }

/* Text align
   ========================================================================== */
.align.right { text-align: right; }
.align.center { text-align: center; }
.align.left { text-align: left; }

/* Hide element
   ========================================================================== */
.screen.reader {
    display: none;
}

/* Boottom footer
   ========================================================================== */
.bottom.footer  {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

/* Clearing
   ========================================================================== */
.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
