
/* container
   ========================================================================== */
.container {}

/* desktops
   ========================================================================== */
@media (min-width: 1281px) {}

/* laptops, desktops
   ========================================================================== */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* tablets, ipads (portrait)
   ========================================================================== */
@media (min-width: 768px) and (max-width: 1024px) {}

/* tablets, ipads (landscape)
   ========================================================================== */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* low resolution tablets, mobiles (landscape)
   ========================================================================== */
@media (min-width: 481px) and (max-width: 767px) {}

/* most of the smartphones mobiles (portrait)
   ========================================================================== */
@media (min-width: 320px) and (max-width: 480px) {}
